# requirements.txt (Phiên bản cuối cùng)

--extra-index-url https://download.pytorch.org/whl/cu121

# Core Libraries - Không ràng buộc phiên bản
torch
torchvision
torchaudio
transformers
datasets
accelerate
evaluate
peft
trl

# Other libraries
pandas
numpy
scikit-learn
openpyxl
tqdm
ipykernel
notebook
sentencepiece
protobuf
bitsandbytes
nltk